{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit | Bookmarks AI{% endblock %}

{% block content %}
<div class="text-center mx-auto">
    <h1 class="display-4">Edit Bookmark</h1>
</div>
<div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
    <form method="post" action="{% url 'edit_bookmark' bookmark.id %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update Bookmark</button>
    </form>
</div>
{% endblock content %}