{% extends '_base.html' %}
{% load static %}

{% block title %}Bookmarks AI - A simple bookmarks storage webapp with AI auto classification and search.{% endblock title %}

{% block content %}
<div class="text-center mx-auto">
  <h1 class="display-4">Bookmarks AI</h1>
</div>
<div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
{% if messages %}
  {% for message in messages %}
      <div class="{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %}
{% endif %}
  <p class="lead">A simple bookmarks storage webapp with AI auto classification and search.</p>
  <img src="{% static 'images/bookmarks-cover.png' %}" class="img-fluid" alt="Bookmarks AI">
  <div class="d-grid gap-2 col-6 mt-3 mx-auto">
    <a href="{% url 'account_login' %}" class="btn btn-secondary">Login</a>
    <a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a>
  </div>
</div>
{% endblock content %}
