{% extends '_base.html' %}
{% load static %}

{% block title %}Terms of Service | Bookmarks AI{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-3">
        <h2 class="pt-3">Terms of Service for Bookmarks AI App</h2>
        <p><strong>Last updated: 28 March 2024</strong></p>
        
        <h3>1. Agreement to Terms</h3>
        <p>By using our App, you agree to be bound by these Terms of Service. If you do not agree to these Terms, please do not use our App.</p>

        <h3>2. Intellectual Property</h3>
        <p>All content on the App, including text, graphics, logos, and software, is the property of Bookmarks AI App or its content suppliers and is protected by copyright and other intellectual property laws.</p>

        <h3>3. Use License</h3>
        <p>You are granted a limited license to access and use the App and its content for personal, non-commercial purposes.</p>

        <h3>4. User Conduct</h3>
        <p>You agree to use the App only for lawful purposes and not to use the App in a way that could harm us or any third party.</p>

        <h3>5. Termination</h3>
        <p>We may terminate or suspend your access to our App immediately, without prior notice or liability, for any reason whatsoever, including, without limitation, if you breach the Terms.</p>

        <h3>6. Disclaimer</h3>
        <p>The App and its content are provided on an "as is" and "as available" basis. We do not make any representations or warranties of any kind, express or implied, as to the operation of the App or the information, content, or materials included on the App.</p>

        <h3>7. Limitation of Liability</h3>
        <p>In no event shall Bookmarks AI App, nor its directors, employees, or partners, be liable for any indirect, incidental, special, consequential, or punitive damages arising out of your use of the App or the contents therein.</p>

        <h3>8. Governing Law</h3>
        <p>These Terms shall be governed by and construed in accordance with the laws of Australia/NSW, without giving effect to any principles of conflicts of law.</p>

        <h3>9. Changes to the Terms</h3>
        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. By continuing to access or use our App after those revisions become effective, you agree to be bound by the revised terms.</p>

        <h3>10. Contact Us</h3>
        <p>If you have any questions about these Terms, please contact us at james [ at ] jamesflores.net</p>
    </div>
</div>
{% endblock %}