{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}Bookmarks AI{% endblock title %}</title>
  <meta name="description" content="A simple bookmarks storage webapp with AI auto classification and search.">
  <meta name="author" content="James Flores">
  <meta property="og:title" content="Bookmarks AI">
  <meta property="og:description" content="A simple bookmarks storage webapp with AI auto classification and search.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{% static 'images/bookmarks-cover.png' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/bookmark-icon.png' %}">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFHKC1C5YS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FFHKC1C5YS');
  </script>
  {% block css %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Bookmarks AI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">{{ user.email }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <div class="d-flex ms-auto">
          <a href="{% url 'account_login' %}" class="btn btn-outline-secondary me-2">Log In</a>
          <a href="{% url 'account_signup' %}" class="btn btn-outline-primary">Register</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>  

  <div class="container mt-4">
    {% block content %}
    <p>Default content...</p>
    {% endblock content %}
  </div>

  <footer class="footer">
    <div class="container text-center">
        <span class="text-muted small"><a href="{% url 'about' %}">About</a></span>
      | <span class="text-muted small"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></span>
      | <span class="text-muted small"><a href="{% url 'terms_of_service' %}">Terms of Service</a></span>
    </div>
  </footer>

  {% block javascript %}
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Project JS -->
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock javascript %}

</body>

</html>